.mealContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  width: 100%;
  position: relative;

  p {
    font-size: 20px;
  }

  &:hover .imageThumbnail {
    transform: translateX(-50%) rotate(360deg) scale(1.3);
  }
}

.imageThumbnail {
  width: 150px;
  transition: transform 0.6s ease-in-out;

  &:not(:hover) {
    transform: translateX(-50%) rotate(0deg) scale(1);
  }
}

.cardImg {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999;

  filter: drop-shadow(1px 1px 10px black);
}

.paddingTop100 {
  padding-top: 100px;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

button {
  margin: 20px 0px;
  width: 110px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  color: #606c38;
  font-weight: 500;
  border: #606c38 2px solid;
  transition: all 0.3s;
}

.title {
  color: #e07a5f;
  font-weight: 800;
}

button:hover {
  background-color: #283618;
  color: white;
  transform: scale(1.05);
}
